body{
	font-family: 'Raleway', sans-serif;

	a{
		text-decoration: none;
	}

	.img1{
		.img1a{
			width: 100%;
			position: absolute;
			z-index: -1;
		}

		nav{
			background-color: transparent;
		}

		.centrar{
			padding-left: 30%;
			font-size: 18px;
		}

		.centrar li a{
			color: white;
			text-decoration: none;
		}

		.centrar li a:hover{
			color: whitesmoke;
			text-decoration: none;
			background-color: transparent;
		}

		.textosSobreImg{
			padding-top: 15%;
			font-weight: 700;
			color: white;
			text-align: center;
		}

		.centrarpueO{
			text-align: center;
			padding-bottom: 400px;
		}

		.centrar2 a{
			background-color: purple;
			text-align: center;
			text-decoration: none;
			width: 200px;
			border: 1px solid transparent;
			border-radius: 50px;
			color: white;
		}
	}

	/* Sección 2 */
	.textSec2{
		padding-top: 500px;
		color: black;
		padding: 5%;
	}

}